<% provide(:title, "Following") %>

<div class="row">
  <aside class="col-md-4">
    <%= render "shared/user_info", user: @user %>
  </aside>

  <div class="col-md-8">
    <h3><%= "Following" %></h3>

    <% if @followings.any? %>
      <%= turbo_frame_tag :followings do %>
        <%= render @followings %>

        <% if @pagy.next %>
          <%= turbo_frame_tag :followings, loading: :lazy, src: pagy_next_url(@pagy) %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
