<% if @user %>
  <% provide :title, @user.name %>

  <div class="row">
    <aside class="col-md-4">
      <%= render "shared/user_info", user: @user %>
    </aside>

    <div class="col-md-8">
      <% if @user.microposts.any? %>
        <h3>Microposts (<%= @user.microposts.count %>)</h3>

        <%= turbo_frame_tag :microposts do %>
          <%= render @microposts %>

          <% if @pagy.next %>
            <%= turbo_frame_tag :microposts, loading: :lazy, src: pagy_next_url(@pagy) %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
