<% provide(:title, @title) %>

<div class="row">
  <aside class="col-md-4">
    <%= render "shared/user_info", user: @user %>
    <div class="mb-2"></div>
    <%= render "follow_form", user: @user if logged_in? %>
  </aside>

  <div class="col-md-8">
    <h3><%= @title %></h3>

    <% if @users.any? %>
      <ul class="list-unstyled">
        <%= render @users %>
      </ul>

      <%= will_paginate %>
    <% end %>
  </div>
</div>
