<div id="<%= dom_id(user, :info) %>">
  <div class="d-flex align-items-center gap-2 mb-2">
    <%= gravatar_for(user, size: 60, class: "rounded-circle") %>

    <div class="d-flex flex-column">
      <%= link_to user.name, user, class: "text-decoration-none fw-bold h2 mb-0" %>

      <div>
        <%= link_to [user, :followings], class: "text-decoration-none" do %>
          <strong>
            <%= user.followings.count %>
          </strong>
          following
        <% end %>

        -

        <%= link_to [user, :followers], class: "text-decoration-none" do %>
          <strong>
            <%= user.followers.count %>
          </strong>
          followers
        <% end %>
      </div>
    </div>
  </div>

  <%= render "users/follow_form", user: user if logged_in? %>
</div>
