<% provide(:title, "Followers") %>

<div class="row">
  <aside class="col-md-4">
    <%= render "shared/user_info", user: @user %>
  </aside>

  <div class="col-md-8">
    <h3><%= "Followers" %></h3>

    <% if @followers.any? %>
      <%= turbo_frame_tag :followers do %>
        <%= render @followers %>

        <% if @pagy.next %>
          <%= turbo_frame_tag :followers, loading: :lazy, src: pagy_next_url(@pagy) %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
